In [1]:
import pandas as pd

In [30]:
# Load the dataset
df=pd.read_csv('sample.csv')

In [32]:
# Number of rows and columns
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 74
Number of columns: 13

In [34]:
# First five rows of the dataset
print("\nFirst five rows:")
print(df.head(5))

First five rows:
                     Excel Sample Data         Unnamed: 1 Unnamed: 2  \
0                                  NaN                NaN        NaN
1  Call Center Sentiment Analysis Data                NaN        NaN
2                                  NaN                NaN        NaN
3                                   ID      Customer Name  Sentiment
4                         PIS-39858047  Frances Gullefant    Neutral

   Unnamed: 3      Unnamed: 4        Unnamed: 5  Unnamed: 6     Unnamed: 7  \
0         NaN             NaN               NaN         NaN            NaN
1         NaN             NaN               NaN         NaN            NaN
2         NaN             NaN               NaN         NaN            NaN
3  CSAT Score  Call Timestamp            Reason        City          State
4           8      01-01-2024  Billing Question  Charleston  West Virginia

  Unnamed: 8     Unnamed: 9              Unnamed: 10  Unnamed: 11  Unnamed: 12
0        NaN            NaN                      NaN          NaN          NaN
1        NaN            NaN                      NaN          NaN          NaN
2        NaN            NaN                      NaN          NaN          NaN
3    Channel  Response Time  Call Duration (Minutes)  Call Center          NaN
4    Chatbot     Within SLA                       14   Chicago/IL          NaN

In [36]:
# Size of the dataset (total number of elements)
print(f"\nSize of dataset: {df.size}")

Size of dataset: 962

In [38]:
# Number of missing values in each column
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Excel Sample Data     2
Unnamed: 1            3
Unnamed: 2            3
Unnamed: 3            3
Unnamed: 4            3
Unnamed: 5            3
Unnamed: 6            3
Unnamed: 7            3
Unnamed: 8            3
Unnamed: 9            3
Unnamed: 10           3
Unnamed: 11           3
Unnamed: 12          74
dtype: int64

In [40]:
# Sum of numerical columns
print("\nSum of numerical columns:")
print(df.select_dtypes(include='number').sum())

Sum of numerical columns:
Unnamed: 12    0.0
dtype: float64

In [42]:
# Average of numerical columns
print("\nAverage of numerical columns:")
print(df.select_dtypes(include='number').mean())

Average of numerical columns:
Unnamed: 12   NaN
dtype: float64

In [44]:
# Minimum values in numerical columns
print("\nMinimum values in numerical columns:")
print(df.select_dtypes(include='number').min())

Minimum values in numerical columns:
Unnamed: 12   NaN
dtype: float64

In [46]:
# Maximum values in numerical columns
print("\nMaximum values in numerical columns:")
print(df.select_dtypes(include='number').max())

Maximum values in numerical columns:
Unnamed: 12   NaN
dtype: float64

In [50]:
# Export the modified dataset
df.to_csv('output_file.csv', index=False)